* {
  background-color: #fdf2e9;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  border-radius: 110px;
  overflow: hidden;
  margin: 10px;
}

.panel img {
  object-fit: cover;
  height: 80vh;
  width: 8rem;
  transition: width 0.7s;
}

.active img {
  width: 40rem;
}
