body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: skyblue;
}

.search {
  position: relative;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 10px;
  outline: none;
  width: 200px;
}

.btn {
  background-color: #fff;
  border: none;
  font-size: 18px;
  padding: 10px 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
}

.search .input .active {
  width: 200px;
  transform: translateX(198px);
}
