* {
  transition: all 0.5s;
}

body {
  background-color: blue;
}

button {
  height: 37px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

input.input {
  border: none;
  background-color: #fff;
  height: 35px;
  width: 0%;
  transition: all 0.5s;
  outline: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: all 0.5s;
}

input.input.active {
  width: 50%;
  transition: all 0.5s;
}
