* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.steps_container {
  display: flex;
  justify-content: space-between;
  width: 400px;
  position: relative;
}

.steps_container::before {
  content: "";
  background-color: rgb(213, 213, 213);
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  z-index: -1;
}

.status_bar {
  background-color: #4bb543;
  position: absolute;
  width: 0;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  z-index: -1;
}

.btn {
  background-color: #4bb543;
  padding: 0.5rem;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 11px;
  width: 100px;
}

.step {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  transition: background-color 0.4s;
}

.active {
  border: 3px solid #4bb543;
}

.disabled {
  background-color: rgb(181, 177, 177);
  cursor: not-allowed;
}
